<%- include("./partials/html-head") %>
<%- include("./partials/nav") %>

<main>
  <!-- <ul>
    <li><a href="/flights">All Flights</a></li>
    <li><a href="/flights/new">Add Flight</a></li>
  </ul> -->
  <h1><%= title %></h1>
</main>

<%- include("./partials/footer") %> 
