body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

ul {
  background-color: gray;
  padding: 10px;
}

li {
  display: inline;
  list-style-type: none;  
  padding: 0px 50px;
  }

a {
  color: white;
}
